* {
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
}

html::-webkit-scrollbar {
    width: 0;
}

.bg-black {
    background-color: #000 !important;
}

.font-40 {
    font-size: 40px !important;
}

.font-30 {
    font-size: 30px !important;
}

.ps-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9000;
}

.font-17 {
    font-size: 17px !important;
}

.hover {
    cursor: pointer !important;
}

.Zindex {
    margin-top: 50px;
}

body {
    position: relative;
}

#toTop {
    padding: 17px 20px;
    position: fixed;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    right: 0;
    bottom: 0;
}

.font-20 {
    font-size: 20px !important;
}